/* You can add global styles to this file, and also import other style files */
.sidebar {
    height: 100%;
}

.alert {
    margin-bottom: 0rem;
    border: 0px solid transparent;
    border-radius: 0rem;
}