<div class="row mt-2">
    <div class="col-12">
      <h5 class="text-left">Recomendaciones</h5>
    </div>
  </div>
<div class="row mt-2">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">Oferta especial.</p>
          <h5 class="card-title">Nueva Oferta</h5>
          <a href="#" class="btn btn-sm btn-primary">Recomendar </a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">Postventa.</p>
          <h5 class="card-title">Pack Internet PP</h5>
          <a href="#" class="btn btn-sm btn-primary">Recomendar </a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">Postventa</p>
          <h5 class="card-title">Pack Internet PP</h5>
          <a href="#" class="btn btn-sm btn-primary">Recomendar </a>
        </div>
    </div>
</div>
