<div class="row mt-2">
  <div class="col-12">
    <h5 class="text-center">Saldo en uso</h5>
  </div>
</div>
<div class="row">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Credito de recarga</h5>
      <p class="card-text">XXX 123.457</p>
      <p>16/10/2019</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Credito promocional</h5>
      <p class="card-text">XXX 123.457</p>
      <p>16/10/2019</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Intenet</h5>
      <p class="card-text">2.5 GB</p>
      <p>130Mb Vto. 10/11 12:10PM</p>
    </div>
  </div>
  <div class="card">
      <div class="card-body">
        <h5 class="card-title">Whatapps</h5>
        <p class="card-text">Disponible GB</p>
      </div>
    </div>
</div>
<div class="row mt-2">
  <div class="col-12">
    <h4 class="text-center">Datos del Equipo</h4>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="alert alert-primary" role="alert">
      10 dias de activacion
    </div>
  </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">Estado</th>
                <th scope="col">Fabricante</th>
                <th scope="col">Equipo En uso</th>
                <th scope="col">MSISDN</th>
                <th scope="col">IMEI</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
