<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Datos Equipo</h6>
    </div>
    <div class="card-body">

        <div class="col-lg-12">

            <div class="card mb-4 py-3 border-bottom-success">
              <div class="card-body">
                11 días de antiguedad
              </div>
            </div>

          </div>


      <div class="table-responsive">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid"
                aria-describedby="dataTable_info" style="width: 100%;">
                <thead>
                  <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                      aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 237px;">
                      Estado</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                      aria-label="Position: activate to sort column ascending" style="width: 355px;">
                      Fabricante</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                      aria-label="Office: activate to sort column ascending" style="width: 176px;">
                      Esquipo en Uso</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                      aria-label="Office: activate to sort column ascending" style="width: 176px;">
                      MSISDN</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                      aria-label="Office: activate to sort column ascending" style="width: 176px;">
                      ISBN</th>
                </thead>
                <tbody>
                  <tr role="row" class="odd">
                    <td class="sorting_1">Estado xyz</td>
                    <td>Fabricante xyz</td>
                    <td>Uso xyz</td>
                    <td>MSISDN XYZ.</td>
                    <td>ISBN XYZ.</td>
                  </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
