<div class="row mt-2">
  <div class="col-12">
    <h5 class="text-center">Contactos con el cliente</h5>
  </div>
</div>
<div class="row col-12">
  <table class="table table-hover">
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Ayer 11:09</td>
        <td>Claro</td>
        <td>Te acreditaron xx301234. Recibiste de regalo yy1200 promocionales y 300MB. Info de saldo y consumos: *444#</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Ayer 11:09</td>
        <td>Claro</td>
        <td>Te acreditaron xx301234. Recibiste de regalo yy1200 promocionales y 300MB. Info de saldo y consumos: *444#</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Ayer 11:09</td>
        <td>Claro</td>
        <td>Te acreditaron xx301234. Recibiste de regalo yy1200 promocionales y 300MB. Info de saldo y consumos: *444#</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Ayer 11:09</td>
        <td>Claro</td>
        <td>Te acreditaron xx301234. Recibiste de regalo yy1200 promocionales y 300MB. Info de saldo y consumos: *444#</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-sm-12">
    <p class="text-center">Más</p>
  </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
    </div>
</div>
